.record-list-empty {
  text-align: center;
  padding: 4rem 2rem;
  color: #999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  &__message {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    color: #666;
  }

  &__hint {
    margin: 0.5rem 0 0 0;
    font-size: 0.95rem;
    color: #bbb;
  }
}

